$enable-shadows: true;
$enable-gradients: true;

$primary: #d9704a;
$light: #f2f2f3;
$dark: #2b251c;
$body-color: #333;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/fonts";
@import "./partials/layout";
@import "./partials/images";
@import "./partials/usability";
