.hero-image-home {
  background-image: url("../../images/home/bergen_home2.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-contact {
  background-image: url("../../images/contact/hero_contact.jpg");
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.hero-image-bergen {
  background-image: url("../../images/bergen/hero_bergen.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

/* Increase/decrease the pixels if needed */
/* For all devices with a screen size smaller than 1366px, the background-attachment property will be scroll instead of fixed */

@media only screen and (max-device-width: 999px) {
  .hero-image-bergen,
  .hero-image-contact,
  .hero-image-home {
    background-attachment: scroll;
  }

  .hero-search {
    padding-top: 10em;
  }
}
