#root {
  width: 100%;
}

.container {
  max-width: 100% !important;
}

.content-wrapper {
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.hero-search {
  text-align: center;
  padding-top: 6em;
  color: #fff;
}
